.wrapper {
    font-family: "Ubuntu Condensed";
    display: flex;
    width: 100%;
    background-color: var(--vt-c-white-soft);
    justify-content: center;
    margin: -8px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1450px;
    width: 100%;
    padding-inline: 15px;
    background-color: var(--vt-c-white-soft);
    height: 100vh; /* Ensure the container takes the full height of the viewport */
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;
}

.body {
    
    flex-grow: 1; /* Allow the body to take up remaining space */
}

.footer {
    background-color: #141414;
    box-shadow: 0 0 0 100vmax #141414;
    clip-path: inset(-2px -100vmax);
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
}
@media (min-width: 1024px) {


}
