@import "../../assets/styles/variables.less";
@import "../../assets/styles/base.less";

.wrapper {
    display: flex;
    width: 100%;
    background-color: @white;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1450px;
    width: 100%;
    padding-inline: 15px;
    background-color: @white;
    height: 100vh; 
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;
}

.body {
    flex-grow: 1; 
}

.footer {
    background-color: @black;
    box-shadow: 0 0 0 100vmax @black;
    clip-path: inset(-2px -100vmax);
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @white;
}

