.wrapper {
    display: flex;
    width: 100%;
    background-color: aqua;
    justify-content: center;
    margin: -8px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    padding-inline: 15px;
    background-color: rgb(254, 128, 128);
    height: 100vh; /* Ensure the container takes the full height of the viewport */
}

.header {
    background-color: rgb(254, 254, 152);
}

.body {
    background-color: rgb(251, 136, 251);
    flex-grow: 1; /* Allow the body to take up remaining space */
}

.footer {
    background-color: rgb(132, 145, 255);
}
@media (min-width: 1024px) {


}
